<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <!-- <ion-buttons slot="start">
      <ion-button (click)="seeMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    
    <ion-title color="primary">Components</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list *ngFor="let c of components | async"
            [routerLink]="c.redirectTo">
    <ion-item detail>
      <ion-icon [name]="c.icon" slot="start"></ion-icon>
      <ion-label class="ion-text-capitalize"> {{ c.name }} </ion-label>
    </ion-item>
  </ion-list>


</ion-content>
