<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Filter Pizza"
                 inputmode="text"
                 type="decimal" 
                 (ionChange)="onSearchChange($event)" 
                 [debounce]="250" 
                 showCancelButton="always"
                 animated>
  </ion-searchbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of array | filter: textSearch ">
      <ion-label> {{ item.title }} </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
