<app-header title="card"></app-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, aspernatur minus! Beatae quaerat optio voluptatibus, exercitationem nostrum animi, omnis laborum mollitia alias nesciunt, cupiditate eum quos! Earum id perferendis, laboriosam unde voluptatum quas atque beatae tempora, eveniet, saepe quod animi distinctio commodi minima aut alias tempore iste expedita corrupti dolor?
    </ion-card-content>


    <ion-card>
      <img src="https://i.pinimg.com/736x/cd/a2/e8/cda2e87c60682830a947215b4b8a8bae.jpg">
      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, aspernatur minus! Beatae quaerat optio voluptatibus, exercitationem nostrum animi, omnis laborum mollitia alias nesciunt, cupiditate eum quos! Earum id perferendis, laboriosam unde voluptatum quas atque beatae tempora, eveniet, saepe quod animi distinctio commodi minima aut alias tempore iste expedita corrupti dolor?
      </ion-card-content>
    </ion-card>


  </ion-card>


</ion-content>
